# macOS system files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Environment variables
.env
.env.*

# Node / Next.js
node_modules/
.next/
out/
dist/
build/

# Vercel / Deployment
.vercel/
coverage/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Uploads
uploads/